@tailwind base;
@tailwind components;
@tailwind utilities;

.text-break {
  word-wrap: break-word!important;
  word-break: break-word!important;
}

.content {
  @apply pt-16;
  height: 100vh;
}

.message {
  @apply mb-2;
}