@tailwind base;
@tailwind components;
@tailwind utilities;

.text-break {
  word-wrap: break-word!important;
  word-break: break-word!important;
}

.content {
  height: calc(100vh - 4rem);
}

.message {
  @apply mb-2;
}